.dc-select-menu {
  width: 100%;
  padding-right: 10px;
  height: 35px;
  font-size: 1.1rem;
}

.chart-title {
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.centred {
  text-align: center;
  padding-inline: 20%;
}

.page-container {
  margin-inline: 30px;
  margin-block: 30px;
}

.reset-button {
  width: 200px;
  font-size: 1.3rem;
  padding: 10px;
}

.footer {
  padding: 1.5rem;
  text-align: center;
  background: rgb(239, 239, 239);
}

td {
  padding: 0 15px;
}

.thumbnail {
  background: white;
}

.hidden {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}